<div class="menu-top">
    <img class="logowhite" src="./assets/img/logowhite.svg">
    <div class="middle-box"><a class="menu-link" href="summary.html"><img class="menu-icon" src="./assets/img/summary.svg" alt=""><span>Summary</span></a></div>
    <div class="middle-box"><a class="menu-link" href="board.html"><img class="menu-icon" src="./assets/img/board.svg" alt=""><span>Board</span></a></div>
    <div class="middle-box"><a class="menu-link" href="add_task.html"><img class="menu-icon" src="./assets/img/addtask.svg" alt=""><span>Add Task</span></a></div>
    <div class="middle-box"><a class="menu-link" href="contacts.html"><img class="menu-icon" src="./assets/img/contacts.svg" alt=""><span>Contacts</span></a></div>
</div>
<div class="menu-bottom">
    <div class="middle-box"><a class="menu-link" href=""><img class="menu-icon" src="./assets/img/legalnotice.svg" alt=""><span>Legal notice</span></a></div>

</div>